
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F6F6F6;
}

.navbar {
    position: fixed;
    bottom: 0;
    background-color: #540D6E;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar__element {
    width: 25%;
    transition: 0.5s;
}

.navbar__element--active {
    background-color: #67297D;
}

.navbar__element__link {
    width: 100%;
    height: 100%;
}