$body-color: #F6F6F6;
$purple1: #9a52be;
$purple2: #cda9df;
$lighter-purple: #D0AADD;
$light-purple: #67297D;
$light-green: #a2dab1;
$red: #e52b2b;
$blue1: #2372f3;
$blue2: #2d78f3;
$green: #00a72c;
$grey1: #f2f2f2;
$grey2: #797979;
$grey3: #ffffff;
$grey4: #7f7f7f;
$grey5: #f2f2f2;
$grey6: #e4e4e4;
$grey7: #cecece;
$grey8: #c2c2c2;
$grey9: #d9d9d9;
$grey10: #404040;

@mixin default-flex {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@mixin default-button {
    margin-top: 21px;
    width: 80%;
    max-width: 300px;
    height: 50px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    background: linear-gradient(180deg, rgba(35,114,243,1) 0%, rgba(45,120,243,1) 50%, rgba(35,114,243,1) 50%, rgba(45,120,243,1) 100%);
    border: 0;
    letter-spacing: .5px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(52,125,244,0.7);
    -moz-box-shadow: 0px 5px 10px 0px rgba(52,125,244,0.7);
    box-shadow: 0px 5px 10px 0px rgba(52,125,244,0.7);
}

@font-face {
    font-family: gilroy-light;
    src: url(./../content/Gilroy-Light.otf);
}

@font-face {
    font-family: gilroy-bold;
    src: url(./../content/Gilroy-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $grey3;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    letter-spacing: .5px;
}

.welcomePage {
    height: 100vh;
    width: 100%;
    position: relative;
    &__wrapper {
        width: 100%;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        width: 170px;
        height: 170px;
        margin-bottom: 100px;
    }
    &__button {
        @include default-button;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    &__text {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    &__link {
        color: $blue1;
        text-decoration: none;
    }
}

.navbar {
    width: 100%;
    height: 9vh;
    background-color: $grey1;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.1);
    &__element {
        flex: 1 1 0px;
    }
    &__element--active {
        .navbar__icon, .navbar__site {
            color: black;
        }
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    &__icon {
        font-size: 1.2rem;
        color: $grey2;
        margin-bottom: 5px;
    }
    &__site {
        color: $grey2;
        font-size: .7rem;
    }
}

.home {
    @include default-flex;
    &__content {
        flex: 1;
    }
}

.calendarPage {
    @include default-flex;
    &__content {
        flex: 1;
        position: relative;
        display: flex;
    }
}

.calendar {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    &__year-header {
        margin-top: 10px;
    }
    &__month-wrapper {
        margin: 6px 0px 10px 0px;
        display: flex;
        justify-content: center;
    }
    &__month {
        display: grid;
        grid-template: auto / repeat(7, 1fr);
        width: 100%;
        &__header {
            text-align: center;
            margin-bottom: 5px;
        }
        &__day {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4px;
            height: 50px;
            &__text{
                position: relative;
                padding: 10px;
                &__plus {
                    color: $light-green;
                    display: none;
                    position: absolute;
                    top:-2px;
                    right:-5px;
                    transition: .2s;
                }
            }
            &__text--active {
                background-color: $purple1;
                padding: 10px;
                border-radius: 50%;
                color: white;
            }
            :hover > &{
                &__text {
                    &__plus {
                        color: $light-green;
                        display: block;
                    }
                    &__plus:hover {
                        color: $green;
                    }
                }
            }
        }
        &__day--last-month {
            color: grey;
        }
        &__day--selected {
            color: $lighter-purple;
        }
    }
}

.organizer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $lighter-purple;
    transform: translateX(0%);
    transition: 1s ease-out;
    box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.2);
    top: 0;
    right: 0;
    @media only screen and (min-width: 1024px) {
        width: 30%;
        position: relative;
    }
    @media (max-width: 1023px){
        &--hide {
            transform: translateX(100%);
        }
    }
}

.todosPage {
    @include default-flex;
    &__content {
        flex: 1;
    }
}

@mixin todos-function {
    margin-left: 10px;
    padding: 8px;
    background-color: black;
    border-radius: 50%;
    color: whitesmoke;
}

.todos {
    padding: 16px;
    &__header-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        font-family: gilroy-bold;
    }
    &__header, &__add-button {
        font-size: 1.6rem;
    }
    &__today-header {
        color: $grey4;
        font-size: 0.9em;
        margin-left: 4px;
        margin-bottom: 10px;
    }
    &__today {
        display: flex;
        flex-direction: column;
    }
    &__todo {
        font-weight: 600;
        margin: 0px 10px;
        flex: 1;
    }
    &__wrapper {
        width: 100%;
        min-height: 50px;
        background-color: $grey5;
        margin-bottom: 15px;
        border-radius: 15px;
        padding: 10px 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &--done {
            // .todos__progress {
            //     width: 100%;
            //     background-color: $grey7;
            // }
            .todos__todo {
                text-decoration: line-through;
                color: $grey8;
            }
        }
    }
    &__icons {
        font-size: 1.4rem;
        &--done {
            color: $grey8;
        }
    }
    // &__progress-wrapper {
    //     width: 85%;
    //     border-radius: 20px;
    //     height: 15px;
    //     background-color: $grey6;
    //     margin-bottom: 8px;
    //     position: relative;
    // }
    // &__progress {
    //     position: absolute;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     width: 50%;
    //     background-color: red;
    //     border-radius: 20px;
    // }
    &__functions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        align-items: center;
    }
    &__functions--hide {
        display: none;
    }
    &__add, &__edit {
        @include todos-function;
    }
    &__delete {
        @include todos-function;
        background-color: red;
    }
}

.eventsPage {
    @include default-flex;
    &__content {
        flex: 1;
    }   
}

.events {
    padding: 16px;
    &__wrapper {
        margin-bottom: 15px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 15px;
        font-size: 0.9rem;
        color: white;
        font-weight: 600;
    }
}

.form-wrapper {
    background-color: $grey1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &__header {
        margin-top: -50px;
        margin-bottom: 50px;
        font-family: gilroy-bold;
    }
    &__question {
        position: absolute;
        bottom: 10px;
    }
    &__link {
        color: $blue1;
        text-decoration: none;
    }
    &__error:not(:empty) {
        position: absolute;
        text-align: center;
        display: block;
        background-color: $red;
        color: white;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        max-height: 50px;
        top: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 20px;
        max-width: 300px;
    }
    &__label {
        margin-bottom: 5px;
        font-family: $grey10;
    }
    &__star {
        color: $red;
        &--hide {
            display: none;
        }
    }
    &__input {
        background-color: white;
        border: 2px solid $grey9;
        border-radius: 10px;
        padding: 10px 15px;
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.1rem;
        letter-spacing: .5px;
        &:focus {
            outline: none;
        }
        &--error {
            border: 2px solid $red;
        }
    }
    &__submit {
        @include default-button;
    }
}

.notesPage {
    @include default-flex;
    &__content {
        flex: 1;
    }
}

// react-contextmenu
.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 120px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
	cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 10px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}