$body-color: #F6F6F6;
$main-purple: #540D6E;
$lighter-purple: #D0AADD;
$light-purple: #67297D;
$main-font: 'Lato';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-color;
    font-family: $main-font;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 9vh;
    background-color: $main-purple;
    display: flex;
    flex-direction: row;
    &__element {
        flex: 1 1 0px;
        &__link {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &__icon {
                font-size: 2rem;
                color: white;
            }
        }
    }
    &__element--active {
        background-color: $light-purple;
    }
}